#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  height: 704px;
  width: 375px;
}

.sidebar {
  display: none;
}

@media (min-width: 1080px) {
  .header-background-image {
    display: none;
  }

  .sidebar {
    display: block;
    height: 100vh;
    width: 483px;
    float: left;
  }

  .desktop {
    display: flex;
  }

  .cards-div {
    z-index: 1;
    position: absolute;
    top: 400px;
    left: 75px;
  }

  #root {
    padding: 0;
  }

  body {
    margin: 0;
  }

  .confirmation {
    position: absolute;
    left: 700px;
    top: 160px;
  }
}
